<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao Blog do Node</h1>
  <p class="lead">Esse é um blog simples, desenvolvido com Node.js + Express + PSQL.</p>
  <hr class="my-4">
  <p>Aqui terá as novidades sobre o mundo dos negócios!</p>
</div>

<hr>

<h2>Postagens recentes: </h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btt btn-success">Leia Mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de publicação {{data}}</small>      
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}