{{> _msg}}
<style>
    .btn-hover {
        transition: transform 0.2s ease-in-out;
    }

    .btn-hover:hover {
        transform: scale(1.05);
    }

    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .card-body {
        padding: 20px;
    }

    .form-control {
        margin-bottom: 15px;
    }
</style>

{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Editar postagem:</h4>
            <form action="/postagem/edit" method="POST" enctype="multipart/form-data">
                <input type="hidden" value="{{postagem.id}}" name="id">
                <label for="titulo">Título:</label>
                <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}" required>
                <label for="slug">Slug:</label>
                <input type="text" name="slug" class="form-control" value="{{postagem.slug}}" required>
                <label for="descricao">Descrição:</label>
                <input type="text" name="descricao" class="form-control" value="{{postagem.descricao}}" required>
                <label for="conteudo">Conteúdo:</label>
                <textarea name="conteudo" class="form-control" rows="5" required>{{postagem.conteudo}}</textarea>
                {{#if postagem.imagem}}
                    <div class="mt-3">
                        <img src="{{postagem.imagem}}" class="img-fluid rounded mb-3" style="max-width: 300px;" alt="Imagem da postagem">
                        <br>
                        <label for="removeImagem">Remover imagem:</label>
                        <input type="checkbox" name="removeImagem" id="removeImagem">
                    </div>
                {{/if}}
                <div class="mt-3">
                    <label for="imagem">Escolher imagem:</label>
                    <input type="file" name="imagem" class="form-control">
                </div>
                <button class="btn btn-primary btn-hover mt-3" type="submit">Editar postagem</button>
            </form>
        </div>
    </div>
</div>